In [1]:
mylist=[14, "hello", 967]
#mylist[6]
#IndexError:trying to access an item at an invalid index.
#rectification: choose 0 or 1 or 2 as index
mylist[0]

14

In [2]:
#import Pandas
#import NumPy
#ImportError:No module named Pandas or NumPy
#rectification : names are lower cased
import pandas
import numpy

In [3]:
#Print"python errors"
#SyntaxError:when a syntax error is encountered.
#rectification: add parentheses
print("python errors")

python errors

In [4]:
#mydictionnary={True:"hello",False:"bye", '3':"python"}
#mydictionnary['True']
#KeyError:thrown when a key is not found.
#rectification: remove the ' '
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]

'hello'

In [5]:
#i=14
#while i<78:
#print(i)
#i+=1
#IndentationError:thrown when an incorrect indentation is occured.
#rectification:
i=14
while i<78:
    print(i)
    i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [6]:
#it=iter([1,2,3])
#next(it)
#next(it)
#next(it)
#next(it)
#StopIteration:thrown when the next() function goes beyond the iterator items.
#rectification: remove the last next(it)
it=iter([1,2,3])
next(it)
next(it)
next(it)

3

In [7]:
#'15'+15
#TypeError:thrown when an operation or function is applied to an object of an inappropriate type.
#rectification: add int before '15' or remove the ' '
int("15")+15

30

In [8]:
#int('python')
#ValueError:thrown when a function's argument is of an inappropriate type.
#rectification:
int("20")

20

In [9]:
#python
#NameError:thrown when an object could not be found.
#rectification : assigning the word "python" to a variable
x="python"
x

'python'

In [10]:
#x=19/0
#ZeroDivisionError:thrown when the second operator in the division is zero.
#rectification:
x=19/1